.footer {
  background-color: $bg-color;
  padding-bottom: 40px;

  .hr-line {
    @include hr-line($dark-grey-color, 100%);
  }

  .content-wrapper {
    margin: 5px 0;
    padding: 45px 0;

    h3 {
      font-size: 30px;
      letter-spacing: 4px;
      text-align: center;
      text-transform: uppercase;
    }

    .subtitle {
      color: $light-grey-color;
      font-family: 'Avenir-Roman';
      font-size: 14px;
      text-align: center;

      span {
        font-family: 'Baskervile-Italic';
        font-style: italic;
      }
    }
  }

  .project-wrapper {
    padding-bottom: 75px;

    .project {
      .image {
        background-color: $dark-grey-color;
        height: 150px;
        width: 100%;
      }

      h6 {
        letter-spacing: 2px;
        padding: 20px 0;
        text-align: center;
        text-transform: uppercase;
      }

      p {
        color: $light-grey-color;
        font-family: 'Avenir-Roman';
        font-size: 13px;
        text-align: center;
      }
    }
  }

  .copyright-wrapper {
    .hr-line {
      @include hr-line($dark-grey-color, 90px);
      display: table;
      margin: 0 auto;
    }

    .copyright {
      p {
        color: $dark-grey-color;
        font-size: 10px;
        padding-top: 30px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
