.modal {
  .modal-content {
    border-radius: 0;

    .content {
      padding: 80px;
      
      h3 {
        @extend h3;
        color: $black-color;
        padding-bottom: 40px;
        text-align: center;
      }

      p {
        color: $light-grey-color;
        font-family: 'Avenir-Roman';
        font-size: 18px;
      }
    }

    .close {
      border: 1px solid $black-color;
      font-size: 12px;
      margin: 10px;
      padding: 10px;
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }
}
