$bg-color: #1a1a1a;
$primary-font-color: #fff;
$white-color: #fff;
$grey-color: #979797;
$light-grey-color: #9e9e9e;
$dark-grey-color: #2e2e2e;
$dark-red: #714e4e;
$black-color: #000;
$carousel-active-color: #828282;
$carousel-inactive-color: #3e3e3e;
$lightish-grey-color: #e6e6e6;
